{% load static %}
<!-- Testimonials Area Start -->
<section class="roberto-testimonials-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="testimonial-thumbnail owl-carousel mb-100">
                    <img src="{% static 'img/bg-img/10.jpg' %}" alt="">
                    <img src="{% static 'img/bg-img/11.jpg' %}" alt="">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h6>Testimonials</h6>
                    <h2>Our Guests Love Us</h2>
                </div>
                <!-- Testimonial Slide -->
                <div class="testimonial-slides owl-carousel mb-100">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“This can be achieved by applying search engine optimization or popularly known as SEO. This
                            is a marketing strategy which increases the quality and quantity of traffic flow to a
                            particular website via search engines.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Robert Downey <span>- CEO Deercreative</span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus delectus facilis
                            molestias, error vitae praesentium quos eaque qui ea, tempore blanditiis sint reprehenderit,
                            quaerat. Commodi ab architecto sit suscipit exercitationem!”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Akash Downey <span>- CEO Deercreative</span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, ex quos. Alias a rem
                            maiores, possimus dicta sit distinctio quis iusto!”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Downey Sarah <span>- CEO Deercreative</span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sequi laboriosam fugit
                            suscipit aspernatur, minima minus voluptatum, id ab atque similique ex earum. Magni.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Robert Brown <span>- CEO Deercreative</span></h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Area End -->

<!-- Projects Area Start -->
<section class="roberto-project-area">
    <!-- Projects Slide -->
    <div class="projects-slides owl-carousel">
        <!-- Single Project Slide -->
        <div class="single-project-slide active bg-img" style="background-image: url({% static 'img/bg-img/5.jpg' %});">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and
                        confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url({% static 'img/bg-img/6.jpg' %});">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and
                        confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url({% static 'img/bg-img/7.jpg' %});">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and
                        confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url({% static 'img/bg-img/8.jpg' %});">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and
                        confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Project Slide -->
        <div class="single-project-slide bg-img" style="background-image: url({% static 'img/bg-img/9.jpg' %});">
            <!-- Project Text -->
            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <!-- Hover Effects -->
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and
                        confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right"
                                                                    aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- Projects Area End -->

<!-- Blog News Area Start -->
<section class="roberto-blog-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Our Blog</h6>
                    <h2>Latest News &amp; Event</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Post Area -->
            {% for rs in latestnews%}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <a href="/content/{{ rs.id }}/{{ rs.slug }}" class="post-thumbnail"><img src="{{ rs.image.url }}" alt=""></a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a href="#" class="post-date">{{ rs.update_at }}</a>
                        <a href="#" class="post-catagory">Detay</a>
                    </div>
                    <!-- Post Title -->
                    <a href="#" class="post-title">{{ rs.title }}</a>
                </div>
            </div>
            {% endfor %}
            <!-- /Single Post Area end -->

        </div>
    </div>
</section>
<!-- Blog Area End -->

<!-- Call To Action Area Start -->
<section class="roberto-cta-area">
    <div class="container">
        <div class="cta-content bg-img bg-overlay jarallax"
             style="background-image: url({% static 'img/bg-img/1.jpg' %});">
            <div class="row align-items-center">
                <div class="col-12 col-md-7">
                    <div class="cta-text mb-50">
                        <h2>Contact us now!</h2>
                        <h6>{{ setting.phone }}</h6>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-right">
                    <a href="/iletisim" class="btn roberto-btn mb-50">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End -->

<!-- Partner Area Start -->
<div class="partner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp"
                     data-wow-delay="300ms">
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p1.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p2.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p3.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p4.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo"><img src="{% static 'img/core-img/p5.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Area End -->