{% extends "homebase.html" %}

{% load static %}
{% block title %} {{ setting.title }} Sıkca Sorulan Sorular{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block favicon %} {{ setting.icon.url }}{% endblock %}
{% block head %}
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
{% endblock %}


{% block content %}

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/16.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title"> Sıkca Sorulan Sorular</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Sıkca Sorulan Sorular</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- About Us Area Start -->
    <br>
    <section class="roberto-about-us-area ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div id="accordion">
                        {% for rs in faq %}
                            <h3 class="btn-primary">{{ rs.question }}</h3>
                            <div class="btn-light">
                                <p>{{ rs.answer }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Area End -->
    <br>

{% endblock %}