<!-- Welcome Area Start -->
{% load static %}
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        {% for rs in sliderdata %}
        <div class="single-welcome-slide bg-img bg-overlay"
             style="background-image: url('{{ rs.image.url }}');"
             data-img-url="{{ rs.image.url }}">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">{{ rs.description }}</h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">{{ rs.title }}</h2>
                                <a href="/content/{{ rs.menu_id }}/{{ rs.slug }}" class="btn roberto-btn btn-2" data-animation="fadeInLeft"
                                   data-delay="800ms">Detay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</section>
<!-- Welcome Area End -->