{% extends "homebase.html" %}

{% load static %}
{% block title %} {{ setting.title }} Password Update{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block favicon %} {{ setting.icon.url }}{% endblock %}



{% block content %}

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/16.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Password Update</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Password Update</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Contact Form Area Start -->
    <br>
    <div class="roberto-contact-form-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-9">
                    <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                        <h6 class="text-center">USER SESSION</h6>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="roberto-contact-form">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message|safe }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if  field.help_text %}
                                                <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <p style="">{{ error }}</p>
                                            {% endfor %}

                                        </p>
                                    {% endfor %}
                                    <input type="submit" class="btn roberto-btn mt-15" value="UPDATE">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <!-- Contact Form Area End -->


{% endblock %}