<div class="section-heading wow fadeInUp " data-wow-delay="100ms">
    <h6 class="text-center">USER PANEL</h6>
</div>
<div class="">
    <ul class="list-group">
        <li class="list-group-item"><a href="/user" class=""> User Profile</a></li>
        <li class="list-group-item"><a href="/user/comments" class="">Comments</a></li>
        <li class="list-group-item"><a href="/user/contents" class="">Contents</a></li>
        <li class="list-group-item"><a href="/logout" class=""> Logout</a></li>
    </ul>
</div>