{% extends "homebase.html" %}

{% load static %}
{% block title %} {{ profile.user_name }} Profile{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block favicon %} {{ setting.icon.url }}{% endblock %}



{% block content %}

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/16.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">User Profile</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->

    <!-- Contact Form Area Start -->
    <br>
    <div class="roberto-contact-form-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-10">
                    <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                        <h6 class="text-center">USER INFORMATION</h6>
                    </div>
                    <div>
                         {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <table class="table table-hover">
                            <tr>
                                <th scope="row" class="align-middle">
                                    <a href="/user/update/" class="btn btn-primary ">Update Profile</a>
                                    <a href="/user/password/" class="btn btn-primary ">Change Password</a>
                                </th>
                                <td class="align-middle"><img src="{{ profile.image.url }}" alt="" height="100" width="100" ></td>
                            </tr>
                            <tr >
                                <th scope="col" class="align-middle">Nane Surname</th>
                                <td class="align-middle">{{ profile.user_name }}</td>
                            </tr>
                            <tr>
                                <th scope="col" class="align-middle">Email</th>
                                <td class="align-middle">{{ profile.user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="col" class="align-middle">Phone</th>
                                <td class="align-middle">{{ profile.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="col" class="align-middle">Address</th>
                                <td class="align-middle"> {{ profile.address }}</td>
                            </tr>
                            <tr>
                                <th scope="col" class="align-middle">City</th>
                                <td class="align-middle">{{ profile.city }}</td>
                            </tr>
                            <tr>
                                <th scope="col" class="align-middle">Country</th>
                                <td class="align-middle">{{ profile.country }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <!-- Contact Form Area End -->


{% endblock %}